.header {
  display: block;
  background-color: #000000;
  padding: 3.5rem 0;

  @media screen and (min-width: 768px) { 
    .header__logo {
      width: 100px;
    }  
  }

  @media screen and (min-width: 1024px) { 
    .header__logo {
      width: 169px;
    }
  }
}